body {
    margin:30px auto;
    max-width: 400px;
    height: 100%;
    border: 1px solid black;
    color:rgb(0, 0, 0);
    text-align: center;
}

.italianno-regular {
    font-family: "Italianno", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: black;
    
}

header h2 {
    color:white;
    margin-top:-1px;
    padding-bottom: 8px;
    font-family: "Italianno", serif;
    font-weight: 600;
    font-size:30px;
    font-style: normal;
    margin-bottom: 0px;
}

#dom_symbol {
    width:60px;
    padding-top:5px;
}

#season{
    color:rgb(245, 245, 245);
    padding:10px;
    background-color: rgba(131, 130, 130, 0.562);
}

#season-content {
    background-color: #1D1616;
    border-radius: 10px;
    padding:10px;
    
}

#season h2 {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

#season p {
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    border-radius: 10px;
    width:80%;
    max-height:50%;
    margin:0 auto;
    padding:15px;
}

.white_red {
    border-left:2px solid #FBFBFB ;
    border-top:2px solid #FBFBFB ;
    border-right:2px solid #D84040;
    border-bottom:2px solid #D84040 ; 

}

.pink_purple {
    border-left:2px solid #FF748B ;
    border-top:2px solid #FF748B ;
    border-right:2px solid #500073 ;
    border-bottom:2px solid #500073 ; 
}

#dom_section {
    margin:0px;
    padding:10px;
    color:rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    font-size:large;
    color:white;
}

#dom_section p {
    background-color: rgba(35, 35, 35, 0.681);
    width: 100%;
    padding:2px 0px;
}

#dom_section p:hover {
    background-color: rgba(35, 35, 35,0.95);
    transition: 0.4s;
    cursor: pointer;
}

.dom-label {
    border: 1px solid whitesmoke;
    padding:10px 0px;
}

#first-label {
    background-image: url("/img/saints.png");
    background-size:100% 130px;
    background-repeat: no-repeat;
}

#second-label {
    background-image: url("/img/community.png");
    background-size:100% 100px;
    background-repeat: no-repeat;
}

#third-label {
    background-image: url("/img/resources.png");
    background-size:100% 150px;
    background-repeat: no-repeat;
}

footer{
    color:white;
    background-color: #1D1616;
    padding:10px;
}

footer div {
    padding:5px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

i {
    font-size: 20px;
    border:1px solid rgba(255, 255, 255, 0.479);
    border-radius:5px;
    padding:5px 4px;
}

i:hover, i:active {
    color:rgb(199, 199, 199);
    cursor:pointer;
    transition:0.5s;
    border:1px solid rgb(255, 255, 255);
}





